body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .phone {
    width: 300px;
    height: 600px;
    background-color: #000;
    border-radius: 40px;
    overflow: hidden;
    margin: auto;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .screen {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    background-image: url(ubc.webp);
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .content {
    padding: 40px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 30px;
    color:white; 

  }
  
  .login-button {
    display: block;
    width: 80%;
    max-width: 200px;
    margin: 0 auto 20px;
    padding: 15px;
    background-color: #4F7942;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: brown;
  }
  
   /* Button styles */
   .button {
    display: inline-block;
    background-color: #4F7942 ;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
}
/* Image styles */
.app-image {
    display: block;
    margin: 50px auto;
    max-width: 80%;
    height: auto;
}

h1 {
    font-family: Lato, sans-serif; 
    color: white; 
    text-align: center; 
    font-size: 20px; 
    margin-top: 50px; 
    margin-bottom: 20px; 
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    font-family: Lato, sans-serif; 
    color: #4F7942; 
    text-align: left; 
    font-size: 16px;
    margin-top: 70px; 
    margin-bottom: 20px; 
    margin-left: 10px;
}

h3 {
    font-family: Lato, sans-serif; 
    color: #4F7942; 
    text-align: left; 
    font-size: 12px; 
    margin-left: 10px;
}

.centered-button {
    display: block;
    width: 80%;
    max-width: 200px;
    margin: 0 auto 20px;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.centered-button:hover {
    background-color: #0056b3;
}
